html {
    background: black;
}

a {
    text-decoration: none;
    color: rgb(123, 40, 151);
}

a:hover {
    color: rgb(75, 146, 134);
}

ul {
    padding: 0;
    list-style: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    color: rgb(153, 4, 4);
}

@media max-width 500px